# Node modules
node_modules
node_modules_old

# OS junk
.DS_Store

# Environment variables
.env

# Prisma generated client (optional but recommended)
generated/prisma

# Vercel build output
.vercel

# Lock files inside node_modules
node_modules/.package-lock.json
